@using JewelryStore.Models
@model ChatModel

<div class="chat-wrapper">
    <div id="Users" class="chat-users">
        <p><strong>В чаті онлайн: @Model.Users.Count</strong></p>
        @foreach (ChatUser user in Model.Users)
        {
            <p>👤 @user.Name</p>
        }
    </div>
    <div id="Messages" class="chat-messages">
        @foreach (ChatMessage msg in Model.Messages)
        {
            <p>
                <span style="color:#888; font-size:11px;">@msg.Date.ToString("HH:mm:ss")</span><br />
                @if (msg.User != null)
                {
                    <strong style="color:#c0c0c0;">@(msg.User.Name + ":")</strong>
                    @msg.Text
                }
                else
                {
                    <span style="color:#7a9cc0; font-style:italic;">@msg.Text</span>
                }
            </p>
        }
    </div>
</div>