@model JewelryStore.Models.Jewelry
@{
    ViewBag.Title = "Редагувати прикрасу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Редагувати прикрасу</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Назва")
            <br />@Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Type, "Тип")
            <br />@Html.EditorFor(m => m.Type)
        </p>
        <p>
            @Html.LabelFor(m => m.Material, "Матеріал")
            <br />@Html.EditorFor(m => m.Material)
        </p>
        <p>
            @Html.LabelFor(m => m.Weight, "Вага (г)")
            <br />@Html.EditorFor(m => m.Weight)
        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Ціна (грн)")
            <br />@Html.EditorFor(m => m.Price)
        </p>
        <p><input type="submit" value="Зберегти зміни" /></p>
    </fieldset>
}
<p>@Html.ActionLink("← Повернутись до списку", "Index")</p>