@{
    ViewBag.Title = "Каталог прикрас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Каталог прикрас</h3>

<table>
    <tr class="header">
        <td><p>Назва</p></td>
        <td><p>Тип</p></td>
        <td><p>Матеріал</p></td>
        <td><p>Вага (г)</p></td>
        <td><p>Ціна (грн)</p></td>
        <td></td>
    </tr>
    @foreach (var j in ViewBag.Jewelries)
    {
        <tr>
            <td><p>@j.Name</p></td>
            <td><p>@j.Type</p></td>
            <td><p>@j.Material</p></td>
            <td><p>@j.Weight</p></td>
            <td><p>@j.Price</p></td>
            <td><p><a href="/Home/Buy/@j.Id">Оформити покупку</a></p></td>
        </tr>
    }
</table>